
<div data-ng-controller="changePasswordController">

    <div id="content">
        <section id="widget-grid" class="">

            <div class="row">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">


                    <div class="alert alert-info fade in" data-ng-show="showOkMessage">

                        <i class="fa-fw fa fa-check"></i>
                        The password changed successfully.
                    </div>

                    <div class="alert alert-danger fade in" data-ng-show="showNokMessage">

                        <i class="fa-fw fa fa-times"></i>
                        The current password is not correct.
                    </div>
                     

                    <div class="jarviswidget jarviswidget-color-red jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-attstyle="jarviswidget-color-red" role="widget" style="">

                        <div role="content">

                            <div class="widget-body no-padding">

                                <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">



                                    <header role="heading">
                                        <div class="jarviswidget-ctrls" role="menu">



                                        </div>

                                        <h2>{{modalTitle}} </h2>

                                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                                    </header>


                                    <div role="content">


                                        <!-- end widget edit box -->
                                        <!-- widget content -->
                                        <div class="widget-body no-padding">


                                            <form id="mainForm" class="smart-form" name="mainForm" novalidate="novalidate" data-ng-submit="changePassword()">

                                                <fieldset>



                                                    <section>
                                                        <label class="label"> Current password<span class="required">*</span></label>
                                                        <div class='input' data-ng-class="{'has-error': mainForm.currentPassword.$invalid && mainForm.currentPassword.$dirty}">

                                                            <input type="password" id="currentPassword" name="currentPassword" placeholder="Sample: 123456" data-ng-model="userChangePass.currentPassword" required>
                                                            <div data-ng-show="mainForm.currentPassword.$invalid && mainForm.currentPassword.$dirty">
                                                                <span class="help-block" data-ng-show="mainForm.currentPassword.$error.required">Enter the current password!</span>
                                                            </div>
                                                        </div>


                                                    </section>


                                                    <section>
                                                        <label class="label"> New password<span class="required">*</span></label>
                                                        <div class='input' data-ng-class="{'has-error': mainForm.newPassword.$invalid && mainForm.newPassword.$dirty}">

                                                            <input type="password" id="newPassword" name="newPassword" placeholder="Sample: abcdef" data-ng-model="newPassword" required>
                                                            <div data-ng-show="mainForm.newPassword.$invalid && mainForm.newPassword.$dirty">
                                                                <span class="help-block" data-ng-show="mainForm.newPassword.$error.required">Enter the new password!</span>
                                                            </div>
                                                        </div>


                                                    </section>

                                                    <section>
                                                        <label class="label"> Retype new password<span class="required">*</span></label>
                                                        <div class='input' data-ng-class="{'has-error': mainForm.confirmPassword.$invalid && mainForm.confirmPassword.$dirty}">

                                                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Sample: abcdef" data-ng-model="confirmPassword" required data-ng-compare="newPassword">

                                                            <div data-ng-show="mainForm.confirmPassword.$invalid && mainForm.confirmPassword.$dirty">
                                                                <span class="help-block" data-ng-show="mainForm.confirmPassword.$error.required">Enter the retype of new password!</span>
                                                                <span class="help-block" data-ng-show="mainForm.confirmPassword.$error.compare">The new password mismatched!</span>
                                                            </div>



                                                        </div>


                                                    </section>






                                                </fieldset>

                                                <footer>

                                                    <button type="submit" id="save" class="btn btn-primary" title="Save the new password" data-ng-disabled="mainForm.$invalid">
                                                        <i class="fa fa-check"></i>
                                                        Change password
                                                    </button>


                                                </footer>

                                            </form>

                                        </div>


                                    </div>


                                </div>




                            </div>

                        </div>

                    </div>

                </article>

            </div>


        </section>


    </div>




</div>


