<div data-ng-controller="locationController">

    <div id="content">
        <section id="widget-grid" class="">

            <div class="row">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                    <div class="alert alert-success fade in" data-ng-show="showInsertMessage">

                        <i class="fa-fw fa fa-check"></i>
                        The new record inserted successfully.
                    </div>

                    <div class="alert alert-info fade in" data-ng-show="showUpdateMessage">

                        <i class="fa-fw fa fa-check"></i>
                        The record edited successfully.
                    </div>

                    <div class="alert alert-danger fade in" data-ng-show="showDeleteMessage">

                        <i class="fa-fw fa fa-times"></i>
                        The record deleted successfully.
                    </div>


                    <div class="jarviswidget jarviswidget-color-red jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" data-widget-attstyle="jarviswidget-color-red" role="widget" style="">

                        <div role="content">

                            <div class="widget-body no-padding">

                                <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <div class="dt-toolbar">
                                        <div class="col-xs-12 col-sm-6">
                                            <div id="dt_basic_filter" class="dataTables_filter">
                                                <label>
                                                    <a title="Search the criteria" class="btn input-group-addon" style="float:left" data-ng-click="searchRecords()">  <i class="glyphicon glyphicon-search"></i></a>

                                                    <input type="search" data-ng-model="filter" class="form-control" placeholder="Location Name ..." aria-controls="dt_basic" />
                                                </label>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success" id="open" style="float:right;width:80px" data-ng-click="newRecord()" title="Create a new record">
                                            <i class="fa fa-plus"></i>
                                            Create
                                        </button>

                                    </div>
                                    <table id="tblMain" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dt_basic_info" style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th style="width:43px;"><i class="fa fa-fw fa fa-hashtag text-muted hidden-md hidden-sm hidden-xs"></i></th>
                                                <th><i class="fa fa-fw fa-location text-muted hidden-md hidden-sm hidden-xs"></i> Location Name</th>
                                                <th>Location Code</th>
                                                <th>Country</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr data-ng-repeat="record in records" role="row" data-ng-dblclick="editRecord(record)" data-ng-class="getClass($index)">
                                                <td style="text-align:center">
                                                    {{ fromRow + $index  }}
                                                </td>
                                                <td>
                                                    {{record.locationName}}
                                                </td>
                                                <td>
                                                    {{record.locationCode}}
                                                </td>
                                                <td>
                                                    {{record.countryName}}
                                                </td>
                                                <td>
                                                    {{record.isActiveText}}
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>
                                    <div class="dt-toolbar-footer">
                                        <div class="col-sm-6 col-xs-12 hidden-xs">
                                            <div class="dataTables_info" id="dt_basic_info" role="status" aria-live="polite">
                                                Showing records between {{fromRow}} and {{toRow}} from total {{totalRecordCount}} record(s).

                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">


                                            <div class="input-group">
                                                <a title="First Page" class="btn input-group-addon" data-ng-click="getFirstPage()" style="float:left">  <i class="fa fa-fast-backward"></i> </a>
                                                <a title="Previous Page" class="btn input-group-addon" data-ng-click="getPrevPage()" style="float:left">  <i class="fa fa-backward"></i></a>
                                                <input type="number" data-ng-model="currentPage" class="form-control input-sm" title="Page No." style="width:100px;text-align:center;float:left" value="1" maxlength="8" />
                                                <a title="Goto the page" class="btn input-group-addon btn-flat" data-ng-click="getCurrentPage()" style="float:left"> <i class="fa fa-hand-o-up"></i> </a>
                                                <a title="Next Page" class="btn input-group-addon" style="float:left" data-ng-click="getNextPage()">  <i class="fa fa-forward"></i> </a>
                                                <a title="Last Page" class="btn input-group-addon" style="float:left" data-ng-click="getLastPage()">  <i class="fa fa-fast-forward"></i></a>

                                            </div>


                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </article>

            </div>

        </section>
    </div>

    <div id="divNew" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:700px">

            <div class="modal-content">
                <div class="modal-body">
                    <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">

                        <header role="heading">
                            <div class="jarviswidget-ctrls" role="menu">
                                <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn close" data-dismiss="modal" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete">
                                    <i class="fa fa-times">

                                    </i>
                                </a>
                            </div>

                            <h2>{{modalTitle}} </h2>

                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>

                        <div role="content">

                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <form id="mainFormNew" class="smart-form" name="mainFormNew" novalidate="novalidate" data-ng-submit="insertRecord()">

                                    <fieldset>

                                        <div class="row">

                                            <section class="col col-6">

                                                <label class="label"> Location Name <span class="required">*</span></label>

                                                <div class='input' data-ng-class="{'has-error': mainFormNew.locationName.$invalid && mainFormNew.locationName.$dirty}">
                                                    <input type="text" class="ctrl-l form-control" name="locationName" data-ng-model="record.locationName" placeholder="Sample: Bnd" required>

                                                    <div data-ng-show="mainFormNew.locationName.$invalid && mainFormNew.locationName.$dirty">
                                                        <span class="help-block" data-ng-show="mainFormNew.locationName.$error.required">Enter location name!</span>
                                                    </div>
                                                </div>

                                            </section>

                                            <section class="col col-6">

                                                <label class="label"> Location Code</label>

                                                <div class='input'>
                                                    <input type="text" name="locationCode" data-ng-model="record.locationCode">
                                                </div>

                                            </section>

                                        </div>

                                        <div class="row">

                                            <section class="col col-6">

                                                <div class='select'>

                                                    <label class="label">Country Name<span class="required">*</span></label>

                                                    <div class='select' data-ng-class="{'has-error': mainFormNew.countries.$invalid && mainFormNew.countries.$dirty}">

                                                        <select data-ng-model="record.countryId" name="countries" data-ng-options="item.id as item.text for item in record.countries" required>
                                                            <option value="">(Select a country)</option>
                                                        </select><i></i>

                                                        <div data-ng-show="mainFormNew.countries.$invalid && mainFormNew.countries.$dirty">
                                                            <span class="help-block" data-ng-show="mainFormNew.countries.$error.required">A country must be selected!</span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </section>

                                            <section class="col col-6">

                                                <label class="label"> Location Status<span class="required"></span></label>
                                                <div class='inline-group'>


                                                    <label class="radio">
                                                        <input type="radio" data-ng-model="record.isActive" data-ng-value="true">
                                                        <i></i> Active
                                                    </label>


                                                    <label class="radio">
                                                        <input type="radio" data-ng-model="record.isActive" data-ng-value="false">
                                                        <i></i> In Active
                                                    </label>

                                                </div>

                                            </section>

                                        </div>

                                        <div class="row">

                                            <section class="col col-lg-12">
                                                <div class="form-group">
                                                    <label class="label"> Transport</label>


                                                    <div style="max-height: 200px; overflow-y: scroll; border:1px dotted #D2D6DE;padding-right:6px">


                                                        <label data-ng-repeat="transportType in record.transporttypes" class="checkbox">
                                                            <input type="checkbox" name="checkbox" data-ng-model="transportType.isChecked">
                                                            <i></i>{{transportType.typeName}}
                                                        </label>

                                                    </div>
                                                </div>
                                            </section>

                                        </div>

                                    </fieldset>

                                    <footer>

                                        <button type="submit" id="save" class="btn btn-primary" title="Save the new record" data-ng-disabled="mainFormNew.$invalid || mainFormNew.countries.$pristine">
                                            <i class="fa fa-check"></i>
                                            Save
                                        </button>

                                        <button type="button" id="cancel" class="btn btn-default" style="float:right" data-dismiss="modal" title="Close the window without saving">
                                            <i class="fa fa-times"></i>
                                            Close
                                        </button>


                                    </footer>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>


    <div id="divEdit" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:700px">


            <div class="modal-content">

                <div class="modal-body">

                    <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">

                        <header role="heading">
                            <div class="jarviswidget-ctrls" role="menu">

                                <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn close" data-dismiss="modal" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete">
                                    <i class="fa fa-times">

                                    </i>
                                </a>
                            </div>

                            <h2>{{modalTitle}} </h2>

                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>


                        <div role="content">
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">

                                <form id="mainFormEdit" class="smart-form" name="mainFormEdit" novalidate="novalidate" data-ng-submit="updateRecord()">

                                    <fieldset>

                                        <div class="row">

                                            <section class="col col-6">

                                                <label class="label"> Location Name <span class="required">*</span></label>

                                                <div class='input' data-ng-class="{'has-error': mainFormEdit.locationName.$invalid && mainFormEdit.locationName.$dirty}">
                                                    <input type="text" class="ctrl-l form-control" name="locationName" data-ng-model="record.locationName" placeholder="Sample: Bnd" required>

                                                    <div data-ng-show="mainFormEdit.locationName.$invalid && mainFormEdit.locationName.$dirty">
                                                        <span class="help-block" data-ng-show="mainFormEdit.locationName.$error.required">Enter location name!</span>
                                                    </div>
                                                </div>

                                            </section>

                                            <section class="col col-6">

                                                <label class="label"> Location Code</label>

                                                <div class='input'>
                                                    <input type="text" name="locationCode" data-ng-model="record.locationCode">
                                                </div>

                                            </section>

                                        </div>

                                        <div class="row">

                                            <section class="col col-6">

                                                <div class='select'>

                                                    <label class="label">Country Name</label>

                                                    <div class='select'>

                                                        <select data-ng-model="record.countryId" name="countries" data-ng-options="item.id as item.text for item in record.countries"></select><i></i>

                                                    </div>

                                                </div>

                                            </section>

                                            <section class="col col-6">

                                                <label class="label"> Location Status<span class="required"></span></label>
                                                <div class='inline-group'>


                                                    <label class="radio">
                                                        <input type="radio" data-ng-model="record.isActive" data-ng-value="true">
                                                        <i></i> Active
                                                    </label>


                                                    <label class="radio">
                                                        <input type="radio" data-ng-model="record.isActive" data-ng-value="false">
                                                        <i></i> In Active
                                                    </label>

                                                </div>

                                            </section>

                                        </div>

                                        <div class="row">

                                            <section class="col col-lg-12">

                                                <div class="form-group">

                                                    <label class="label"> Transport Types</label>

                                                    <div style="max-height: 200px; overflow-y: scroll; border:1px dotted #D2D6DE;padding-right:6px">

                                                        <label data-ng-repeat="transportType in record.transporttypes" class="checkbox">
                                                            <input type="checkbox" name="checkbox" data-ng-model="transportType.isChecked">

                                                            <i></i>{{transportType.typeName}}
                                                        </label>

                                                    </div>
                                                </div>

                                            </section>
                                            
                                            <section class="col col-2"></section>
                                       
                                         </div>

                                    </fieldset>

                                    <footer>

                                        <button type="submit" id="save" class="btn btn-primary" title="Save the current record" data-ng-disabled="mainFormEdit.$invalid">
                                            <i class="fa fa-check"></i>
                                            Save
                                        </button>

                                        <button type="button" class="btn btn-danger" data-ng-click="deleteRecord()" title="Delete current record permanently">
                                            <i class="fa fa-ban"></i>
                                            Delete
                                        </button>

                                        <button type="button" id="cancel" class="btn btn-default" style="float:right" data-dismiss="modal" title="Close the window without saving">
                                            <i class="fa fa-times"></i>
                                            Close
                                        </button>

                                    </footer>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>


</div>


